<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jwt</title>
</head>
<body>

<div>

    {{ #userInfo.valid }}
        Aloha, {{ userInfo.username }}! <br/>
        <img src={{ userInfo.photo }} /> <br/>
        <a href={{logoutLink}}> logout </a>
    {{ /userInfo.valid }}

    {{ ^userInfo.valid }}
        not logged in :( <br/>

        {{#loginLinks}}
            <a href={{link}}>Login with {{provider}}</a>
        {{/loginLinks}}
    {{ /userInfo.valid }}

</div>
</body>
</html>